{% extends 'base.html' %}

{% block content %}
<br>
<h5>Sales Order - Service and Hardware Pricing</h5><br>
<style>
    table, th, td {
      border: 1px solid lightgrey;
    }
    th, td {
    padding: 1px;
  }
</style>

{% if customers %}
   <h5>Quoted To:</h5>
    <b>{{ customers.company_name }}</b><br>
    {{ customers.contact_name }} </br>
    {{ customers.company_address }} <br>
    {{ customers.company_number }} <br>
{% endif %}
<br>

<!-- Display the Monthly Recurring Cost (MRC) List Table -->

<h5>Monthly-Recurring Charges (MRC) Table </h5>
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div id="tab">
    <table id="tblProducts" class="cell-border" style="width:90%">
      <thead>
      <tr>
        <th><center>SKU</center></th>
        <th><center>Service Description</center></th>
        <th><center>MRC</center></th>
        <th><center>Qty</center></th>
        <th><center>Total</center></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot id="tblFoot">
        <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Total: </td>
        <td id="total"><input type="text" class="grdtot" value="" name=""/></td>
        </tr>
    </tfoot>
    </table>
    </div>
  <br>

<!-- Display the Service List Items for Selection tha input into the MRC table using Javascript -->

  <p><u>Step2:</u>  Select Service Item from choices below.  Click Add to enter item to the table </p>
  <p><u>Step3:</u>  Enter the qty on line item in table above:</p>

  <div class="id_102">
      <p>HPBX Broadsoft
  <select id="hpbx_bsft">
  {% for product_hpbx in product_hpbxs %}
    <option value1="{{ product_hpbx.sku_no }}" value2="{{ product_hpbx.product_desc }}" value3="{{ product_hpbx.monthly_price }}">{{ product_hpbx.product_desc }}    {{ product_hpbx.monthly_price }}</option>
  {% endfor %}
  </select>
        <button type="button" class="btn-hpbx-bsft">Add</button>
        </p>
  </div>

  <div class="id_103">
      <p>HPBX Call Center
  <select id="hpbx_cc">
  {% for product_cc in product_ccs %}
    <option value1="{{ product_cc.sku_no }}" value2="{{ product_cc.product_desc }}" value3="{{ product_cc.monthly_price }}">{{ product_cc.product_desc }}    {{ product_cc.monthly_price }}</option>
  {% endfor %}
  </select>
        <button type="button" class="btn-hpbx-cc">Add</button>
        </p>
  </div>

  <div class="id_104">
      <p>SIP Trunking
  <select id="sipt">
  {% for product_sipt in product_sipts %}
    <option value1="{{ product_sipt.sku_no }}" value2="{{ product_sipt.product_desc }}" value3="{{ product_sipt.monthly_price }}">{{ product_sipt.product_desc }}    {{ product_sipt.monthly_price }}</option>
  {% endfor %}
  </select>
        <button type="button" class="btn-sipt">Add</button>
        </p>
  </div>

  <div class="id_101">
      <p>MS Teams DR
  <select id="msteams">
  {% for product_msteams in product_msteamss %}
    <option value1="{{ product_msteams.sku_no }}" value2="{{ product_msteams.product_desc }}" value3="{{ product_msteams.monthly_price }}">{{ product_msteams.product_desc }}    {{ product_msteams.monthly_price }}</option>
  {% endfor %}
  </select>
        <button type="button" class="btn-msteams">Add</button>
        </p>
  </div>

  <div class="id_105">
      <p>Add Ons
  <select id="addon">
  {% for product_addon in product_addons %}
    <option value1="{{ product_addon.sku_no }}" value2="{{ product_addon.product_desc }}" value3="{{ product_addon.monthly_price }}">{{ product_addon.product_desc }}    {{ product_addon.monthly_price }}</option>
  {% endfor %}
  </select>
        <button type="button" class="btn-add-on">Add</button>
        </p>
  </div>

  <br/>
  <br/>

  <!-- Display the Non-Recurring Cost (NRC) List Table -->

  <h5>Non-Recurring Charges (NRC) Table  </h5>

  <p><u>Step4:</u>  Select Hardware and Phones from choices below.  Click Add to enter item to the table </p>
  <p><u>Step5:</u>  Enter the qty on line item in table above:</p>

    <table id="tblNRC" class="cell-border" style="width:90%">
      <thead>
      <tr>
        <th><center>SKU</center></th>
        <th><center>Service Description</center></th>
        <th><center>NRC</center></th>
        <th><center>Qty</center></th>
        <th><center>Total</center></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
        <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Total: </td>
        <td id=nrc_grdtot><input type="text" value=""></td>
        </tr>
    </tfoot>
    </table>
  <br/>

<!-- Display the Hardware & Phone Items for Selection tha input into the NRC table using Javascript -->

  <p>Select Hardware and Phones:</p>

  <div class="id_201">
  <p>Hardware:
    <select id="hw" >
      {% for hardware in hardwares %}
        <option value1="{{ hardware.mfg_no }}" value2="{{ hardware.model_desc }}"  value3="{{ hardware.price_nt }}"> {{ hardware.model_desc }}   {{ hardware.price_nt }}</option>
      {% endfor %}
    </select>
    <button type="button" class="btn-hw">Add</button>
  </p>
  </div>

  <div class="id_202">
    <p>Phones:
      <select id="phone" >
          {% for phone in phones %}
            <option value1="{{ phone.mfg_no }}" value2="{{ phone.model_desc }}"  value3="{{ phone.price_nt }}"> {{ phone.model_desc }}   {{ phone.price_nt }}</option>
          {% endfor %}
      </select>
      <button type="button" class="btn-phone">Add</button>
    </p>
  </div>

  <br>

  <div class="col-sm-offset-8 col-sm-10">
      <button type="submit" class="btn btn-light"><a href="{% url 'logout' %}">Logout</a></button>
  </div>

</form>

{% endblock content%}
